<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>gallery</title>
    <link rel="stylesheet" href="../../static/bootstrap-5.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/style.css">
</head>
<body>


<h1>This is a gallery</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Dignissimos explicabo impedit laboriosam maiores obcaecati quidem,
    <br>quos sequi. Adipisci aspernatur commodi dolores excepturi <br> hic, labore nisi officiis sequi tempore ullam vero.</p>
</body>
</html>