 {% extends 'base.html' %}
 {% block content %}

 <h2 class="text-info">welcome home</h2>
<h1 style="font-family: Dialog">django project</h1>
<p style="font-size: 30px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Aliquam animi assumenda aut blanditiis corporis cum dignissimos harum ipsum
    <br>iusto molestias nemo numquam pariatur possimus quae <br>rerum sed, soluta! Exercitationem, obcaecati!</p>
<h5 class="A">this is a table</h5>
<p class="B">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Ad alias aperiam blanditiis cumque dicta esse facere fugiat
    <br> id ipsa iste magni minus molestiae natus non, <br>quas reprehenderit sapiente tempore ullam.</p>

<table class="one">
    <tr class="two">
        <th>Name</th>
         <th>Class</th>
         <th>Age</th>
         <th>Gender</th>

    </tr>
    <tr class="three">
     <td>Tony</td>
        <td>Opera</td>
         <td>21</td>
         <td>Male</td>

    </tr>

    <tr class="four">

    <td>Ruth</td>
        <td>Opera</td>
         <td>16</td>
         <td>Female</td>

    </tr>

    <tr class="five">
     <td>Bonnie</td>
        <td>Opera</td>
         <td>19</td>
         <td>Male</td>

    </tr>




</table>

 {% endblock %}










