.para{
    font-family: "Fira Code Medium";
    color: #b02a37;
    font-size: 30px;
    margin-top: 15px;
}

.A{
   color: #13653f;
    font-size: 50px;
    font-family: KacstArt;
    margin-right: 50px;
    text-align: center;


}
.B{

    color: #13653f;
    font-size: 15px;
    font-family: KacstArt;
    margin-right: 50px;
    text-align: center;

}
.one {
    border-block: #3dd5f3;
    font-family: Gubbi;
    align-items: center;
}



/*.beta{*/
/* color: #3dd5f3;*/
/*    font-size: 30px;*/
/*    font-family: Kalimati;*/




